name: Python application in Docker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Build Docker Image
      run: docker build -t my-python-app .

    - name: Run Tests in Docker Container
      run: docker run my-python-app pytest

    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Push Image to Docker Hub
      run: |
        docker tag my-python-app YOUR_DOCKERHUB_USERNAME/my-python-app:latest
        docker push YOUR_DOCKERHUB_USERNAME/my-python-app:latest